In [1]:
import os
import pandas as pd

In [2]:
chernobyl = "CHERNAIR.csv"

In [3]:
# Read Kaggle csv
chernobyl_df = pd.read_csv(chernobyl, encoding="ISO-8859-1")
chernobyl_df.head()

,PAYS,Code,Ville,X,Y,Date,End of sampling,Duration(h.min),I 131 (Bq/m3),Cs 134 (Bq/m3),Cs 137 (Bq/m3)
0,SE,1,RISOE,12.07,55.7,86/04/27,24:00:00,24.0,1,0,0.24
1,SE,1,RISOE,12.07,55.7,86/04/28,24:00:00,24.0,0.0046,0.00054,0.00098
2,SE,1,RISOE,12.07,55.7,86/04/29,12:00,12.0,0.0147,0.0043,0.0074
3,SE,1,RISOE,12.07,55.7,86/04/29,24:00:00,12.0,0.00061,0,0.00009
4,SE,1,RISOE,12.07,55.7,86/04/30,24:00:00,24.0,0.00075,0.0001,0.00028

In [4]:
# Using .rename(columns={}) in order to rename columns
chernobyl_renamed_df = chernobyl_df.rename(columns={
    "PAYS":"Country", 
    "Code":"Country Code", 
    "Ville":"Locality Name",
    "X":"Latitude", 
    "Y":"Longitude" , 
    "I 131 (Bq/m3)" : "Iodine-131 (I-131) Concentration (Bq/m3)" , 
    "Cs 134 (Bq/m3)" : "Caesium-134 (Cs-134) Concentration (Bq/m3)" , 
    "Cs 137 (Bq/m3)" : "Caesium-137 (radiocaesium, Cs-137) Concentration (Bq/m3)"})
chernobyl_renamed_df.head()

,Country,Country Code,Locality Name,Latitude,Longitude,Date,End of sampling,Duration(h.min),Iodine-131 (I-131) Concentration (Bq/m3),Caesium-134 (Cs-134) Concentration (Bq/m3),"Caesium-137 (radiocaesium, Cs-137) Concentration (Bq/m3)"
0,SE,1,RISOE,12.07,55.7,86/04/27,24:00:00,24.0,1,0,0.24
1,SE,1,RISOE,12.07,55.7,86/04/28,24:00:00,24.0,0.0046,0.00054,0.00098
2,SE,1,RISOE,12.07,55.7,86/04/29,12:00,12.0,0.0147,0.0043,0.0074
3,SE,1,RISOE,12.07,55.7,86/04/29,24:00:00,12.0,0.00061,0,0.00009
4,SE,1,RISOE,12.07,55.7,86/04/30,24:00:00,24.0,0.00075,0.0001,0.00028

In [5]:
# Count incomplete rows
chernobyl_renamed_df.count()

Country                                                     2051
Country Code                                                2051
Locality Name                                               2051
Latitude                                                    2051
Longitude                                                   2051
Date                                                        2051
End of sampling                                             2051
Duration(h.min)                                             2051
Iodine-131 (I-131) Concentration (Bq/m3)                    2031
Caesium-134 (Cs-134) Concentration (Bq/m3)                  1897
Caesium-137 (radiocaesium, Cs-137) Concentration (Bq/m3)    1571
dtype: int64

In [6]:
# Display an overview of the Country column
chernobyl_renamed_df['Country'].value_counts()

IT    303
F     260
DE    246
AU    223
SE    211
CZ    134
NL    121
UK    119
FI    107
NO     73
BE     72
GR     60
ES     44
CH     42
IR     23
HU     13
Name: Country, dtype: int64

In [7]:
# Replace country abbreviation with country name.
chernobyl_renamed_df['Country'] = chernobyl_renamed_df['Country'].replace(
    {'IT': 'Italy', 
     'F': 'France',
     'DE':'Denmark',
     'AU':'Australia',
     'SE':'Sweden',
     'CZ':'Czech Republic',
     'NL':'Netherlands',
     'UK':'United Kingdom',
     'FI':'Finland',
     'NO':'Norway',
     'BE':'Belgium',
     'GR':'Greece',
     'ES':'Spain',
     'CH':'Switzerland',
     'IR':'Iran',
     'HU':'Hungary'})
chernobyl_renamed_df

,Country,Country Code,Locality Name,Latitude,Longitude,Date,End of sampling,Duration(h.min),Iodine-131 (I-131) Concentration (Bq/m3),Caesium-134 (Cs-134) Concentration (Bq/m3),"Caesium-137 (radiocaesium, Cs-137) Concentration (Bq/m3)"
0,Sweden,1,RISOE,12.07,55.7,86/04/27,24:00:00,24.0,1,0,0.24
1,Sweden,1,RISOE,12.07,55.7,86/04/28,24:00:00,24.0,0.0046,0.00054,0.00098
2,Sweden,1,RISOE,12.07,55.7,86/04/29,12:00,12.0,0.0147,0.0043,0.0074
3,Sweden,1,RISOE,12.07,55.7,86/04/29,24:00:00,12.0,0.00061,0,0.00009
4,Sweden,1,RISOE,12.07,55.7,86/04/30,24:00:00,24.0,0.00075,0.0001,0.00028
...,...,...,...,...,...,...,...,...,...,...,...
2046,Hungary,24,BUDAPEST,19.10,47.5,86/05/07,8:00,24.0,3.7,0.58,1.2
2047,Hungary,24,BUDAPEST,19.10,47.5,86/05/08,8:00,24.0,2.2,0.33,0.69
2048,Hungary,24,BUDAPEST,19.10,47.5,86/05/09,8:00,24.0,0.75,0.14,0.29
2049,Hungary,24,BUDAPEST,19.10,47.5,86/05/10,8:00,24.0,0.054,0.006,0.009
2050,Hungary,24,BUDAPEST,19.10,47.5,86/05/11,8:00,24.0,0.051,0.006,0.01

In [8]:
# Drop null rows
chernobyl_drop_df = chernobyl_renamed_df.dropna(how='any')
chernobyl_drop_df

,Country,Country Code,Locality Name,Latitude,Longitude,Date,End of sampling,Duration(h.min),Iodine-131 (I-131) Concentration (Bq/m3),Caesium-134 (Cs-134) Concentration (Bq/m3),"Caesium-137 (radiocaesium, Cs-137) Concentration (Bq/m3)"
0,Sweden,1,RISOE,12.07,55.7,86/04/27,24:00:00,24.0,1,0,0.24
1,Sweden,1,RISOE,12.07,55.7,86/04/28,24:00:00,24.0,0.0046,0.00054,0.00098
2,Sweden,1,RISOE,12.07,55.7,86/04/29,12:00,12.0,0.0147,0.0043,0.0074
3,Sweden,1,RISOE,12.07,55.7,86/04/29,24:00:00,12.0,0.00061,0,0.00009
4,Sweden,1,RISOE,12.07,55.7,86/04/30,24:00:00,24.0,0.00075,0.0001,0.00028
...,...,...,...,...,...,...,...,...,...,...,...
2046,Hungary,24,BUDAPEST,19.10,47.5,86/05/07,8:00,24.0,3.7,0.58,1.2
2047,Hungary,24,BUDAPEST,19.10,47.5,86/05/08,8:00,24.0,2.2,0.33,0.69
2048,Hungary,24,BUDAPEST,19.10,47.5,86/05/09,8:00,24.0,0.75,0.14,0.29
2049,Hungary,24,BUDAPEST,19.10,47.5,86/05/10,8:00,24.0,0.054,0.006,0.009
2050,Hungary,24,BUDAPEST,19.10,47.5,86/05/11,8:00,24.0,0.051,0.006,0.01

In [9]:
# Export file as a CSV, without the Pandas index, but with the header
chernobyl_drop_df.to_csv("chernobyl.csv", index=False, header=True)